<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments Index</title>
</head>

<body>
    <h1>Comments</h1>
    <ul>
        <% for(let c of comments) {%>
        <li>
            <%=c.comment%> - <b><%=c.username%></b>
            <a href="/comments/<%= c.id %>">details</a>
        </li>
        <% }%>
    </ul>
    <a href="/comments/new">New Comment</a>

</body>

</html>