<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nulla vero expedita eius a? Possimus nam,
        inventore perferendis laudantium culpa pariatur corrupti maxime dignissimos consectetur adipisci. Eligendi esse
        possimus consequatur.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore temporibus fugiat,
        aliquam officiis eius dolorum maiores maxime doloremque? Excepturi libero perferendis eum neque natus corrupti
        quos pariatur necessitatibus vitae. Officiis. </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore maxime, cupiditate obcaecati officiis, ipsam
        nam exercitationem provident repellat quas qui delectus quibusdam dolores quo distinctio temporibus fugit
        repellendus? Animi, atque.</p>
</body>

</html>