<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Express Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rand">Random</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/r/chickens">Chickens</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/r/soccer">Soccer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/r/mightyharvest">Mighty Harvest</a>
            </li>
        </ul>
    </div>
</nav>